openapi: 3.0.0   # Open api version

info:
  title: GPT2-Superhero
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate Superhero story and power.
    ---
      How to use:

      * First, Fill what the hero name. This will be base of story and power.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://master-gpt2-superheroes-fpem123.endpoint.ainize.ai/).

    Fine tuning data reference >> [superheroes_nlp_dataset](https://www.kaggle.com/jonathanbesomi/superheroes-nlp-dataset)

servers:
  - url: https://master-gpt2-superheroes-fpem123.endpoint.ainize.ai/

paths:
  /friends:
    post:
      requestBody:
        required: true
        description: |
          This request will generate superhero story and power.

          Request body example

              name: Superman
              length: 150

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Your superhero name."
                length:
                  type: string
                  description: "The size of text."
              required:
                - name
                - text
                - length
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"