<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GPT-2 Superheroes</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script type="text/javascript">
    let time_obj = undefined;
    let flag = undefined;
    let chars = undefined;

    window.onload = () => {
        time_obj = document.getElementById("timer");
        flag = false;       // 더블 클릭 체크
    }


    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }


    function send_story_req() {
        if (double_submit_check()){
            return ;
        }

        const text = document.getElementById("text").value;

        if (text == '') {
            document.getElementById('warning').innerText = 'Please fill text!';
            flag = false;
            return ;
        }

        const formData = new FormData();
        const url = "/superhero/story";
        let start = 0;

        formData.append('text', text);
        formData.append('length', 150);

        // timer
        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);


        fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                clearInterval(timer);
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        }).then(data => {
            const story_text = document.getElementById('story');
            story_text.innerHTML = '&nbsp;&nbsp;' + data[0];

            clearInterval(timer);
            time_obj.innerText = 'Done!';
            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        });

    }

    function send_power_req() {
        if (double_submit_check()){
            return ;
        }

        const text = document.getElementById("text").value;

        if (text == '') {
            document.getElementById('warning').innerText = 'Please fill text!';
            flag = false;
            return ;
        }

        const formData = new FormData();
        const url = "/superhero/power";
        let start = 0;

        formData.append('text', text);
        formData.append('length', 150);

        // timer
        timer = setInterval(() => {
            start += 1;
            time_obj.innerText = `${start / 10} 's`;
        }, 100);


        fetch (url, { method: 'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                clearInterval(timer);
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        }).then(data => {
            const power_text = document.getElementById('power');

            power_text.innerHTML = '&nbsp;&nbsp;' + data[0];

            clearInterval(timer);
            time_obj.innerText = 'Done!';
            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            document.getElementById('warning').innerText = err;
        });

    }



</script>
<body>
    <div class="styles">
        <style>
                #button{
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                #length{
                    width: 70px;
                    height: 30px;
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-left-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                }

                table {
                  border-spacing: 10px;
                  border-collapse: separate;
                }

        </style>
    </div>
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="intro">
                <br>
                <!-- Project title -->
                <h1>GPT-2 Superheroes</h1><br>
                <a>Generate superhero's story and power using GPT-2 model.</a><br><br>
                <a>Git hub repository : </a> <a href="https://github.com/fpem123/GPT2-Superheroes" target="_blank">GPT-2 Superheroes</a><br>
                <a>Open API : </a> <a href="https://ainize.ai/fpem123/GPT2-Superheroes?branch=master" target="_blank">On Ainize</a><br>
                <a>Fine tuning data : </a><a href="https://www.kaggle.com/jonathanbesomi/superheroes-nlp-dataset" target="_blank">Kaggle</a><br><br>
            </div>

            <hr width="90%">

            <div class="Notice">
                <h3>Notice</h3>
                <ul>
                    <li>In this demo, the text length is fixed at 150.</li>
                    <li>The last line can be cut off in the middle.</li>
                </ul>
            </div>

            <br><hr width="90%">

            <div class="sample">
                <h3><label>Example</label></h3>
                <h5><label>Input</label></h5>
                <label>&nbsp;&nbsp;Input text: Superman is</label><br><br>
                <h5><label>Hero's story</label></h5>
                <label>&nbsp;&nbsp;Superman is revived and he defeats Kobra. Many months later, Superboy-Prime is found by the Joker.
                    He reveals that the Joker is responsible for the riots of Gehenna, and he seeks to destroy the cult of Joker.
                    Superboy-Prime is brought to Oa by the Green Lantern Corps. After battling Kobra, Superboy-Prime is found by Atrocitus.
                    Enraged by the death of the original Superboy-Prime, Atrocitus and his fellow False Faces teleport Superboy-Prime to the Death Planet,
                    where they release him from the Phantom Zone and replace him with an immature clone of Superboy-Prime.
                    Superboy-Prime battles the Green Lantern Corps and manages to kill Atrocitus. The true Superboy</label><br><br>
                <h5><label>Hero's power</label></h5>
                <label>&nbsp;&nbsp;Superman is able to manipulate and emit light, with an ability he calls "lightning manipulation".
                    Lightning Manipulation: Superman can generate lightning arcs from his fingertips, powerful enough to throw a car around a persons head.
                    He can also manipulate the lightning arcs he generates to form controlled lightning bolts, which he can shoot skyward to reduce the temperature of the sky.
                    Superhuman Speed: Superman is able to move at incredible speed, thought it is unknown how he does it.
                    He is considered extremely fast and has the ability to move at supersonic speed (approximately mach 4),
                    although he rarely does so. He is able to run across the surface of large bodies of water and up the sides of buildings.
                    Superman can also run at speeds that are beyond the natural</label>
            </div>

            <br><hr width="90%">

            <div class="generate">
                <h3>Try it!</h3><br>
                <label>Input text: </label>
                <input type="text" id="text" style="width:40%"><br>
                <button class="btn btn-primary btn=lg" type="submit" id="button1" onclick="send_story_req();">Story</button>
                <button class="btn btn-primary btn=lg" type="submit" id="button2" onclick="send_power_req();">Power</button><br>
                <label>Timer:&nbsp;</label><label id="timer">0.0</label><br>
                <b><label id="warning" style="color:red;"></label></b>
            </div>

            <br><hr width="90%">

            <div class="result">
                <h3><label>Result</label></h3>
                <h5><label>Hero's story</label></h5>
                <!-- Story generate result table -->
                <label id="story"></label>

                <h5><label>Hero's power</label></h5>
                <!-- Power generate result table -->
                <label id="power"></label>
            </div>

            <br><hr width="50%">
        </div>
    </div>
</body>
</html>